@media screen and (min-width: 768px) {
    .title{
        text-align: left;
        margin-left: 30px;
    }

    h2 span {
        display: inline;
    }

    /* STILE PRIMA SECTION */

    .title-description{
        padding-left: 60px;
       }

    .container{
      padding: 0 20px;
      
    }

    .info{
        padding-left: 40px;
    }

    .info li{
        width: calc(100% / 3 );
        margin-bottom: 45px;
    }

    .info ul{
        display: flex;
        flex-wrap: wrap;
    }

    /* icone stile */
    

    .icon div {
        border-radius: 50px; 
        padding: 10px 30px; 
        width: auto; 
    }
    
}


@media screen and (min-width: 992px) {

    .container{
        display: flex;
        margin: 0 auto;
        width: 100%;
    }

    .video img{
        height: 100%;
    }

    .video{
        width: 70%;
    }

    .info{
        width: 30%;
    }

    .info ul{
      display: block;
    }

    .info li {
        width: 100%; 
        margin-bottom: 30px; 
    }

    /* icone stile */

    i span {
        display: inline;
    }

}

