/* CLASSI COMUNI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

/* HEADER STILE */
.title{
    font-family: "Nerko One", serif;
    
    text-align: center;
    color: #ff9614;
    font-size: 3em;
    text-shadow: 2px 0px 0.5px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
}


/* MAIN STILE */
main{
    background-color: #f6f5f3;
    
}

/* SECTION 1 YOUTUBE INFO */
.section{
    padding-left: 25px;
    padding-bottom: 40px;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

.title-description h2{
    color: #4e3969;
    padding-bottom: 35px;
}

h2 span {
    display: none;
}


.title-description h6{
    color: #999999;
    padding-top: 30px;
    padding-bottom: 20px;

}

img{
    width: 100%;
    display: block;
}

.info{
    background-color: white;
    padding-top: 45px;
    padding-left: 10px;
    padding-bottom: 60px;
}

.info h3{
    padding-bottom: 50px;
}

.info li{
    line-height: 30px;
}

/* ICONE STILE */


.icon {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

.icon div {
    display: flex;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);  
}

.icon i span {
    font-size: 12px; 
    color: black; 
    
    
}

i span {
    display: none;
}

/* colore icone */
.fb{
    color: #1a77f3;
}

.tweet{
    color: #009eff;
}

.insta{
    color: #dc3d78;
}

.pint, .yt{
    color: #e62222;
}


/* blocco il banner per richiamarlo sul tablet */
.banner {
    display: none; 


}

hr {
    width: 100px;
    border-color: #f7972e;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;

}

/* STILE SECTION 2 */
.tiramisu {
    width: 275px;       /* L'immagine occuperà il 50% della larghezza del contenitore */
    height: 150px;  
}


/* attaccarla sulla img per attaccare la foto sulla sinistra
e il testo gli sta intorno

float: left */




